@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.woff);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.woff);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

body,
html {
    height: 100%;
    width: 100%;
}

.main {
    position: relative;
    z-index: 10;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0vw 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

}

.nav-2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-2 h3 {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #0000003c;
    color: #000000bb;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: all ease 2s;
}  
.nav-2 h3:hover{
    background-color: black;
    color: white;
}
.cnt{
    height: 75vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
    position: relative;

}
    .cnt1 {
        font-size: 2.3vw;
        width: 100%;
        line-height: 2.45vw;
       margin-right: 20vw;
        padding: 2vw 2vw;
    
    }
    
    .cnt2 {
        font-size: 5.5vw;
        text-align: right;
        line-height:8.5vw;
    }


                  

.page1 video {
    position: relative;
    width: 100%;
    border-radius: 30px;
    margin-top: 5vw;
}

.hero {
    height: 36vw;
    width: 46vw;
    position: absolute;
    right: 0;
    top: 72vh;
}

.hero1 {
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50vw;
    border-bottom-left-radius: 50vw;
    position: absolute;
    filter: blur(12px);
}

.hero2 {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background: linear-gradient(#FE320A, #fe3f0a);
    position: absolute;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    
}
.hero3 {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background: linear-gradient(#FE320A, #fe3f0a);
    position: absolute;
    filter: blur(25px);
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(5%, -5%)
    }

    to {
        transform: translate(-20%, 30%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(55%, -3%)
    }

    to {
        transform: translate(0%, 10%);
    }
}

.page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 5vw 2vw;
}

.move {
    overflow-x: auto;
    white-space: nowrap;
}

.move::-webkit-scrollbar {
    display: none;
}

.r1 {
    white-space: nowrap;
    display: inline-block;
    animation-name: mover;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.r1 h1 {
    font-size: 9vw;
    display: inline-block;
}

.gola {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 1vw;
}

@keyframes mover {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(-100%);
    }
}

.bottom {
    display: flex;
    z-index: 99;
    position: relative;
}

.bot1 {
    padding: 10vw 0vw;
    padding-left: 4vw;
    width: 150vw;
    font-size: 5vw;
    font-weight: 1000;
    color: #0B0500;
    line-height: 4.5vw;
}

.bot2 {
    padding: 14vw 0vw;
    padding-left: 12vw;
    width: 100%;
}

.bot2 img {
    height: 20vh;
    width: 20vw;
    background-size: cover;
    background-position: center;
    border-radius: 0.5vw;
}

.bot2 h3 {
    margin-top: 4vw;
    width: 20vw;
    font-size: 1vw;
}

.chotemiyan {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.2vw;
    font-size: 1vw;
}

.sp {
    margin-bottom: -60vh;
    color: #0B0500;
}

.chotemiyan p {
    height: 7px;
    width: 7px;
    border-radius: 50px;
    background-color: #fe3f0a;
    margin-bottom: -60vh;
}

.goofey {
    height: 40vw;
    width: 40vw;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    border-radius: 50vw;
    position: absolute;
    top: 45%;
    left: 23%;
    filter: blur(20px);
    animation-name: gof;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes gof {
    from {
        transform: translate(-10%, -10%);
    }

    to {
        transform: translate(10%, 10%);
    }
}

.page3 {
    min-height: 100vh;
    width: 100%;
    padding: 4vw 0vw;
    background-color: #EFEAE3;
}


.elem1 {
    height: 150px;
    width: 100%;
    position: relative;
    border-bottom: 0.1vw solid rgb(46, 42, 42);
    display: flex;
    align-items: center;
    padding: 0vw 2vw;
    overflow: hidden;
    justify-content: space-between;
}

.elem1 h3 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem1 h2 {
    text-align: right;
    font-size: 1.5vw;
    color: rgb(34, 26, 26);
    position: relative;
    z-index: 9;
}

.elem1 h2 p {
    font-size: 1vw;
    color: rgba(88, 75, 75, 0.621);
    position: relative;
}

.elem1 .overlay {
    height: 100%;
    width: 100%;
    left: 0;
    top: -100%;
    position: absolute;
    background-color: #FF9831;
    transition: all 0.25s ease;
}

.elem1:hover .overlay {
    top: 0;
}

.btn {
    padding: 3vw 2vw;

}

.fixed-image {
    height: 50vh;
    width: 17vw;
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
    z-index: 99;
    position: fixed;
    left: 50vw;
    top: 25%;
    display: none;
    background-image: url("https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b16c5_Copy%2520of%2520Nike_Soho_AMD21_0781_LORES-p-1080.webp");
}
.float-image{
    height: 15vh;
    width:7.5vw;
    border-radius: 50%;
    background-color: #ff5c0b;
    z-index: 999;
    position: fixed;
    left: 50vw;
    top: 45%;
    display: none;
    transition: all linear 0.2s;
    text-align: center;
    animation: sizer 1s  ;
    animation-iteration-count: 1;
}
.float-image h1{
    color: white;
    padding-top: 2.5vw;
    word-spacing: 1.344vw;
}

.btn1 {
    height: 6vh;
    width: 13.5vw;
    border: 0.01vw solid rgba(48, 44, 44, 0.788);
    border-radius: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3vw 0 0;
}

.page4 {
    height: 100vh;
    width: 100%;
    padding: 2vw 2vw;
    background-color: #EFEAE3;
    position: relative;

}

.one {
    height: 90vh;
    width: 100%;
    background-color: #0B0500;
    display: flex;
    border-radius: 2vw;
    cursor: pointer;
    overflow: hidden;
}

.onea {
    position: relative;
    height: 90vh;
    width: 45%;
    color: #504A45;
    padding: 12vw 12vw;
    font-size: 2.5vw;
    line-height: 5vw;
}

.oneb {
    width: 55%;
}

.view {
    height: 105vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation: updown 3s alternate infinite;

}

@keyframes updown {
    from {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(0%, -5%);
    }
}

.onea .tt {
    padding: 2vw 0vw;
    line-height: 1vw;
    font-size: 1vw;
    color: #E9E4DE;
}

.red {
    position: absolute;
    left: 11vw;
    top: 12vw;
    height: 12vh;
    width: 0.2vw;
    background-color: red;
}

.grey {
    position: absolute;
    left: 11vw;
    top: 18vw;
    height: 19vh;
    width: 0.2vw;
    background-color: #504A45;
}

.page5 {
    z-index: 200;
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
    position: relative;
    cursor: none;
}

.swiper {
    width: 100%;
    height: 100%;
    color: #504A45;
    
}

.swiper-slide {
    width: 30%;
    border-right: 1px solid #504A45;
    padding: 0vw 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
}

.swiper-slide img {
    padding: 0vw 4vw;
}

.swiper-slide p {
    padding: 1vw 3vw;
}

.page6 {
    height: 100%;
    width: 100%;
    color: white;
    position: relative;
    overflow: hidden;
}

.n1 {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
}

.n1 h1 {
    text-align: center;
    padding-top: 55vh;
    font-size: 18vw;
}

footer {
    display: flex;
    align-items: center;
    gap: 18vw;
    height: 15vh;
    border-top: 1px solid #504A45;
    position: relative;
}

.sem1 {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    filter: blur(100px);
    z-index: 1;
   
}
.s1c{
    height: 70vh;
    width: 40vw;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    animation: upar 5s alternate infinite;
}
.s1 {
    height: 30vh;
    width: 40vw;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    
}
.s2c {
    height: 70vh;
    width: 40vw;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    right: 0;
    animation: upar 10s alternate infinite;
    
}

.s2 {
    height: 40vh;
    width: 40vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    left: 15%;
   
}
.s3 {
    height: 20vh;
    width: 20vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    left: 40%;
    animation : ghumo 10s linear infinite ;
}

.s4 {
    height: 20vh;
    width: 20vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b ,orangered);
    left: 50%;
    animation : ughumo 10s linear infinite ;
}


.s5 {
    height: 20vh;
    width: 40vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    left: 70%;
    animation : ghumo 10s linear infinite ;
}
.s6{
    height: 20vh;
    width: 20vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    left: 70%;
    animation : ghumo 10s linear infinite ;
}



.s7 {
    height: 20vh;
    width: 20vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    left: 85%;
    animation : ughumo 10s reverse infinite ;
}


@keyframes upar {
    from{
        transform: translate( 5% , 0);
    } to{
        transform: translate(0% , -25%);
    }
}
.font{
    padding: 8vw 8vw;
    display: flex;
    z-index: 200;
    position: absolute;
    gap: 50vw;

}
.side1{
    font-size: 3.5vw;
}
.side2{
    font: 1vw;
}
.side2 input{
    height: 4vh;
    width: 20vw;
    background-color: transparent;
    border : transparent;
    border-bottom: 1px solid rgba(176, 156, 156, 0.824);
    padding-top: 8vh;
  
}
.side2 p {
    position: absolute;
    top: 13vw;
    font-size: 17px;
    font-weight: 50;
    color: rgba(176, 156, 156, 0.824);

}
@media (max-width:600px){
    
    .page1{
        min-height: 90vh;
        width: 100vw;
        position: relative;
        padding: 0vw 2vw;
    }
    
    nav {
        padding: 5vw 0vw;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
       position: relative;
    }
    .hi{
        width: 30vw;
        background-size: cover;
        background-position: center;
    }
    
    .nav-2 {
        display: flex;
        align-items: center;
        gap: 1vw;
    }
    
    .nav-2 h3 {
        padding: 5px 10px;
        border-radius: 50px;
        border: 1px solid #0000003c;
        color: #000000bb;
        font-weight: 200;
    }
    .cnt {
        height: 65vh;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #0000003c;
        margin-top: 3vw;
    }
    
    .cnt1 {
        font-size: 6vw;
        width: 80%;
        line-height: 5vw;
    padding: 30vw 0vw;
    margin-right: 20vw;
        
    
    }
    
    .cnt2 {
        padding-top: 4vw;
        font-size: 9vw;
        text-align: right;
        line-height: 13.7vw;
    }
    
.page1 video {
position: relative;
height: 80vh;
width: 94%;
object-fit: cover;
object-position: center;
border-radius: 30px;
margin-top: 5vw;
margin-left: 2vw;
}

.page2 {
min-height: 100vh;
width: 100%;
background-color: #EFEAE3;
position: relative;
padding: 5vw 2vw;
}

.move {
overflow-x: auto;
white-space: nowrap;
}

.move::-webkit-scrollbar {
display: none;
}

.r1 {
white-space: nowrap;
display: inline-block;
animation-name: mover;
animation-duration: 2s;
animation-timing-function: alternate;
animation-iteration-count: infinite;
}

.r1 h1 {
font-size: 9vw;
display: inline-block;
}

.gola {
height: 20px;
width: 20px;
border-radius: 50px;
background-color: #FE320A;
display: inline-block;
}

.bottom {
    display: flex;
    z-index: 99;
    position: relative;
    flex-direction: column;
}

.bot1 {
    margin-top: 5vw;
    width: 100%;
    font-size: 7vw;
    font-weight: 1000;
    color: #0B0500;
    line-height: 6.5vw;
    padding-left: 3vw;
}

.bot2 {
    padding: 14vw 0vw;
    padding-left: 1vw;
    width: 100%;
}

.bot2 img {
    height: 20vh;
    width: 60vw;
    background-size: cover;
    background-position: center;
    border-radius:5.5vw;
}

.bot2 h3 {
    margin-top: vw;
    width: 70vw;
    font-size: 15px;
    font-weight: 200;
}

.chotemiyan {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.2vw;
    font-size: 1vw;
    
}

.sp {
    margin-bottom: -60vh;
    color: #0B0500;
    z-index: 999;
    position: absolute;
   margin-top: 120vw;
    font-size: 5px;
    margin-left: 3vw;
}

.chotemiyan p {
    height: 7px;
    width: 7px;
    border-radius: 50px;
    background-color: #fe3f0a;
    z-index: 999;
    position: absolute;
   margin-top: 119.5vw;
    
}

.goofey {
    height: 40vh;
    Width: 60vw;
   border-radius: 40%;
    position: absolute;
    top: 27%;
    left: 30%;
   
}
.page3 {
    min-height: 100vh;
    width: 100%;
    padding: 4vw 0vw;
    background-color: #EFEAE3;
}


.elem1 {
    height: 150px;
    width: 100%;
    position: relative;
    border-bottom: 0.1vw solid rgb(46, 42, 42);
    display: flex;
    align-items: center;
    padding: 0vw 2vw;
    overflow: hidden;
    justify-content: space-between;
}

.elem1 h3 {
    font-size: 4vw;
    position: relative;
    z-index: 9;
}

.elem1 h2 {
    text-align: right;
    font-size: 4vw;
    color: rgb(34, 26, 26);
    position: relative;
    z-index: 9;
}

.elem1 h2 p {
    font-size: 2vw;
    color: rgba(88, 75, 75, 0.621);
    position: relative;
}

.elem1 .overlay {
    height: 100%;
    width: 100%;
    left: 0;
    top: -100%;
    position: absolute;
    background-color: #FF9831;
    transition: all 0.25s ease;
}

.elem1:hover .overlay {
    top: 0;
}

.btn {
    padding: 3vw 2vw;

}

.fixed-image {
    height: 50vh;
    width: 50vw;
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
    z-index: 99;
    position: fixed;
    left: 30vw;
    top: 20%;
    display: none;
    background-image: url("https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b16c5_Copy%2520of%2520Nike_Soho_AMD21_0781_LORES-p-1080.webp");
}

.btn1 {
    height: 6vh;
    width: 40.5vw;
    border: 0.01vw solid rgba(48, 44, 44, 0.788);
    border-radius: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3vw 0 0;
    transition: all ease 2s;
}
.btn1:hover{
    background-color: black;
    color: white;
}

.page4 {
    height: 100vh;
    width: 100%;
    padding: 2vw 2vw;
    background-color: #EFEAE3;
    position: relative;
 

}

.one {
    height: 90vh;
    width: 100%;
    background-color: #0B0500;
    display: flex;
    border-radius: 2vw;
    cursor: pointer;
    overflow: hidden;
    flex-direction: column;
}

.onea {
    position: relative;
    height: 200vh;
    width: 45%;
    color: #504A45;
    padding: 12vw 12vw;
    font-size: 2.5vw;
    line-height: 5vw;
}

.oneb {
    align-items: center;
    display:flex;
    justify-content: center;
    width: 100%;
}

.view {
    height: 50vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    animation-name: updown;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes updown {
    from {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(0%, -5%);
    }
}

.onea .tt {
    padding: 2vw 0vw;
    line-height: 2vw;
    font-size: 2vw;
    color: #E9E4DE;
}

.red {
    position: absolute;
    left: 11vw;
    top: 12vw;
    height: 12vh;
    width: 0.2vw;
    background-color: red;
}

.grey {
    position: absolute;
    left: 11vw;
    top: 18vw;
    height: 19vh;
    width: 0.2vw;
    background-color: #504A45;
}

.page5 {
    z-index: 200;
    height: 30vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
    color: #504A45;
}

.swiper-slide {
    width: 120vw;
    border-right: 1px solid #504A45;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

.swiper-slide img {
    padding: 0vw 1vw ;
    height: 40px;
    width: 30vw;
    background-size: cover;
    background-position: center;
}

.page5 {
    z-index: 200;
    height: 30vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
    color: #504A45;
}

.swiper-slide {
    width: 40%;
    border-right: 1px solid #504A45;
    padding: 0vw 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
}

.swiper-slide img {
    padding: 0vw 4vw;
}

.swiper-slide p {
    font-size: 2.5vw;
    padding: 1vw 3vw;
}

.page6{

}

.page6 {
    height: 100%;
    width: 100%;
    color: white;
    position: relative;
    overflow: hidden;
}

.n1 {
    min-height: 70vh;
    width: 100%;
    background-color: black;
    position: relative;
}

.n1 h1 {
    text-align: center;
    padding-top: 55vh;
    font-size: 22vw;
}

footer {
    display: flex;
    align-items: center;
    gap: 2vw;
    height: 10vh;
    border-top: 1px solid #504A45;
    position: relative;
}
footer .h3{
    font-size: 2px;
}

.sem1 {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    filter: blur(60px);
    z-index: 1;
}
.sem1{
    font-size: 1vw;
}
.s1c{
    height: 50vh;
    width: 40vw;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    animation: upar 5s alternate infinite;
}
.s1 {
    height: 30vh;
    width: 40vw;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    
}
.s2c {
    height: 40vh;
    width: 40vw;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    right: 0;
    animation: upar 10s alternate infinite;
    
}

.s2 {
    height: 40vh;
    width: 40vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    left: 15%;
   
}
.s3 {
    height: 20vh;
    width: 20vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    left: 40%;
    animation : ghumo 10s linear infinite ;
}

.s4 {
    height: 20vh;
    width: 20vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b ,orangered);
    left: 50%;
    animation : ughumo 10s linear infinite ;
}


.s5 {
    height: 20vh;
    width: 40vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    left: 70%;
    animation : ghumo 10s linear infinite ;
}
.s6{
    height: 20vh;
    width: 20vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    left: 70%;
    animation : ghumo 10s linear infinite ;
}



.s7 {
    height: 20vh;
    width: 20vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    left: 85%;
    animation : ughumo 10s reverse infinite ;
}


@keyframes upar {
    from{
        transform: translate( 5% , 0);
    } to{
        transform: translate(0% , -25%);
    }
}
.font{
    padding: 0vw 0vw;
    z-index: 200;
    display: flex;
    flex-direction: column;

}
.side1{
    padding-top: 10vw;
    font-size: 9vw;
    padding-left: 8vw;
    padding-top: 20vw;
}
.side2{
    font: 2vw;
    width: 90vw;
}
.side2 input{
    height: 4vh;
    width: 78vw;
     background-color: transparent;
    border : transparent;
    border-bottom: 1px solid grey;
   position: absolute;
   top: 82vw;
   left: 10vw;
  
}
.side2 p {
    position: absolute;
    font-weight: 50;
    color: grey;
    top: 88vw;
    left: 10vw;
}
.side2 h6{
    font-size: 4vw;
    width: 90vw;
    position: absolute;
    top: 70vw;
    left: 10vw;

}
.float-image{
    height: 0;
    width: 0;
    display: none;
}
}
